# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build
build/
dist/
.svelte-kit/

# Tauri
src-tauri/target/
src-tauri/gen/schemas/

# Generated
THIRD-PARTY-NOTICES.txt
static/third-party-notices.json
